### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Criado por https://www.toptal.com/developers/gitignore/api/intellij,java
# Edite em https://www.toptal.com/developers/gitignore?templates=intellij,java

### Intellij ###
# Abrange IDEs JetBrains: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm e Rider
# Referência: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Material específico do usuário
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dicionários
.idéia/**/prateleira

# Específico do usuário da AWS
.idea/**/aws.xml

# Arquivos gerados
.idea/**/contentModel.xml

# Arquivos confidenciais ou de alta rotatividade
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

#Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle e Maven com importação automática
# Ao usar Gradle ou Maven com importação automática, você deve excluir arquivos de módulo,
# já que eles serão recriados e podem causar rotatividade. Descomente se estiver usando
# importação automática.
# .ideia/artefatos
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idéia/módulos
# *.iml
# *.ipr

#CMake
cmake-build-*/

# Plug-in Mongo Explorer
.idea/**/mongoSettings.xml

# Formato de projeto baseado em arquivo
*.iws

#IntelliJ
Fora/

# plug-in mpeltonen/sbt-idea
.idea_modules/

# plug-in do JIRA
atlassian-ide-plugin.xml

# plugin Cursive Clojure
.idea/replstate.xml

# plug-in SonarLint
.idéia/sonarlint/

# Plugin Crashlytics (para Android Studio e IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
tecido.propriedades

# Cliente de descanso baseado em editor
.idea/httpRequests

# Android studio 3.1+ arquivo de cache serializado
.idea/caches/build_file_checksums.ser

### Patch Intellij ###
# Motivo do comentário: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# módulos.xml
# .idea/misc.xml
# *.ipr

# plug-in Sonarlint
# https://plugins.jetbrains.com/plugin/7973-sonarlint
.idea/**/sonarlint/

# Plugin do SonarQube
# https://plugins.jetbrains.com/plugin/7238-sonarqube-community-plugin
.idea/**/sonarIssues.xml

# Plug-in Markdown Navigator
# https://plugins.jetbrains.com/plugin/7896-markdown-navigator-enhanced
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator/

# Bug de criação de arquivo de cache
# Consulte https://youtrack.jetbrains.com/issue/JBR-2257
.ideia/$CACHE_FILE$

# plug-in CodeStream
# https://plugins.jetbrains.com/plugin/12206-codestream
.idea/codestream.xml

# Kit de ferramentas do Azure para plug-in IntelliJ
# https://plugins.jetbrains.com/plugin/8053-azure-toolkit-for-intellij
.idea/**/azureSettings.xml

###Java###
# Arquivo de classe compilado
*.classe

# Arquivo de log
*.registro

# Arquivos BlueJ
*.ctxt

# Ferramentas móveis para Java (J2ME)
.mtj.tmp/

# Arquivos de pacote #
*. jarra
*.guerra
*.nar
*.orelha
*.fecho eclair
*.tar.gz
*.rar

# logs de travamento da máquina virtual, consulte http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Fim de https://www.toptal.com/developers/gitignore/api/intellij,java